@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

span {
    color: orange;
    font-family: 'Spartan', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Spartan', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-family: 'Spartan', sans-serif;
}  

/* HEADER AND NAV*/
.background_img {
    background-image: url(./imgs/Cover.jpg);
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    height: 45rem;
}

header nav *{
    display: block;
    float: left;
    height: 100%;
    padding: 0 10px;
}

nav ul {
    float:right;
}

.text-over {
    position: absolute;
    text-align: left;
    color: black;
    margin-top: 140px;
    margin-left: 50px;
  }

  .btn{
    margin: 0px;
    background-color: orange;
    color: white;
    padding: 9px 10px;
    width: 100px;
    text-align: center;
    border: 0px solid transparent;
    font-size: 15px;
    font-weight: 300;
}  

.form-control{
    width: 30%;
    padding: 9px 10px;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: white;
    font-size: 15px;
    font-weight: 300;
    color: #696666;
    margin-top: 20px;
    margin-bottom: 50px;
    display: inline-flex;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
}

/* SECTION */
.background_imgtwo {
    background-image: url(./imgs/section.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 40rem;
}

.aboutus {
    text-align: left;
    padding-left: 30%;
    padding-right: 20%;
    padding-top: 7%;
}

.menubtn {
    margin: 0px;
    background-color: orange;
    color: white;
    padding: 11px 10px;
    width: 200px;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
}

h2 {
    font-size: 50px;
}

/* SECTION 2 */

.order, .book, .customer {
    background-color: rgb(241, 246, 249);
    padding: 7%;
    text-align: center;
}

section li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 35px;
    margin-bottom: 25px;
}

section img {
    margin-left: 20px;
}

h3 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 35px;
}

/* SECTION 4 */

.background_imgthree {
    background-image: url(./imgs/lastsection.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 60rem;
}

.book{
    text-align: center;
}

.span {
    font-size: 30px;
    font-weight: bold;
}

.spantwo {
    color: black;
    font-size: 20px;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: 25%;
    width: 50%;
}

/* SECTION 5 */

.gridtwo {
    text-align: center;
}


/* MEDIA QUERY**************************** */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    html, body {
        margin: 0px;
        padding: 0px;

    }

    /* HEADER AND NAV */
    .background_img {
        background-position: right;
    }

    header nav ul{
        background-color: rgba(255, 255, 255, .5);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header h1 {
        margin-top: 20%;
        margin-right: 20px;
        font-size: 50px;
        background-color: rgba(255, 255, 255, .5);
        padding: 0;
    }

    /* ABOUT US SECTION */

    .background_imgtwo {
        background-position: center;
    }

    .aboutus {
        width: 100%;
        padding: 0;
        padding: 20px 0;
    }

    .abouttext {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* ORDER ONLINE */

    .order {
        padding-top: 40px;
    }

    /* BOOK NOW SECTION */

    .food {
        width: 95%;
        height: 15rem;
    }

}